/* 
    Created on : 11-Mar-2017, 1:22:26 PM
    Author     : Danieil
*/
.background{
    background:#0a0a0a;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.index-header {
    width: 100%;
    min-height: 100%;
    background: url("#{resource['images/ambiance/index.jpg']}");
    background-size:cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

html, body {
    height: 100%;
    color:#fff;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#content{
    min-height: 100%;
}

.header-group{
    padding-top:200px;
    color:#fff;
    padding-bottom:200px;
    font-family: 'Lato', sans-serif;
}

.header-group h1{
    text-transform: uppercase;
    font-size:4em;
    font-weight:800;
    letter-spacing: 0;   
}

.header-group h3{
    margin-top:0;
    margin-bottom:1em;
}

.header-button{
    color:#fff;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;
    font-size: 1.5em;
    background:#e10052;
    text-transform: uppercase;
}

.header-button:hover{
    text-decoration: none;
    color:#fff;
}

#latest-releases h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.genres-container{
    padding-left:1em;
    padding-right:1em;
    background: #e10052;
    font-family: 'Lato', sans-serif;
    padding-bottom:40px;
}

.top-buffer-more{
    margin-top: 90px;
}

.user-row h1 strong{
    margin:0;
    text-transform: uppercase;
}

.user-row h1{
    margin-bottom:0;
    padding-bottom: 0;
    font-size:43px;
}

.user-row h3{
    margin-top:0;
    padding-top:5px;
}

.specials-row{
    background: url("#{resource['images/ambiance/index_bg_2.jpg']}");
    background-size:cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left:1em;
    padding-right:1em;
    font-family: 'Lato', sans-serif;
}

.specials-container{
    padding:10px;
}

.special{
    background:rgba(0,0,0,0.831);
    padding-bottom:15px;
}

.special h3 a{
    padding-bottom:0;
    color:#fff;
    transition: color 0.5s linear;
}

.special h3 a:hover{
    color:#e10052;
    text-decoration: none;
}

.special h4{
    padding-top:0;
    color:#e10052;
}

.header-h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 43px;
    padding-bottom: 0;
}

#survey-container{
    padding-left: 1em;
    padding-right:1em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
}

.survey-container-inner h1{
    font-size: 43px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top:40px;
}

.survey-container-inner h2{
    padding-top:0;
    margin-top:0;
    font-family: 'Raleway', sans-serif;
    color:#aaa;
}

.survey{
    margin-top:50px;
}

.survey-option{
    background:#e10052;
    transition: background 0.25s linear;
    font-family: 'Lato', sans-serif;
}

.survey-option:hover{
    background:#b20040;
}

.survey-option span{
    padding-left: 5px;
}

.survey-option-container{
    padding:2px;
}

.option-label, .survey-option{
    font-size: 23px;
}

@media (min-width:630px){
    .survey-mobile{
        display:none;
    }
}

.survey-choice-btn{
    padding:10px;
    color:#fff;
    background:#e10052;
    font-size:34px;
    margin:5px;
}

.survey-choice-btn:hover{
    color:#fff;
    text-decoration: none;
}

.hvr-sweep-to-right::before{
    background:#b20040;
}

.survey h4{
    font-size:34px;
    border-bottom: 4px solid #e10052;
    display:inline-block;
}

.genres-label{    
    background: #e10052;
    font-family: 'Lato', sans-serif;
    transition:background 0.25s;
}

.genres-label:hover{
    background:#b20040;
}

.genres-label h2{
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top:10px;
    margin-bottom:10px;
}

.genre-item{
    color:#fff;
    text-decoration: none;
    transition: color 0.25s linear;
}

.genre-item:hover{
    color:#b20040;
    text-decoration: none;
}

.rss-item{
    width:100%;
    padding-bottom: 1em;
    border-bottom: solid 1px #e10052;
}

.rss-item:last-child{
    border-bottom:none;
    padding-bottom: 2em;
}

.rss-item h2{
    clear:both;
    width:100%;
}

.rss-item h2 a{
    color:#aaa;
    transition: color 1s ease;
}

.rss-item h2 a:hover{
    text-decoration: none;
    color:#e10052;
}

.rss-item img{
    display:inline;
    float: left;
    width:20%;
    height:100px;
}

.rss-item p{
    display: inline;
    width:68%;
    float:right;    
    padding-left: 2em;
}

#rss{
    padding-left:1em;
    padding-right:1em;
    font-family: 'Lato', sans-serif;
}

.rss-container::-webkit-scrollbar { 
    display: none; 
}

.white-link{
    color:#fff;
    text-decoration: underline;
    transition: color 0.25s;
}

.white-link:hover{
    color:#AAA;
}

.hvr-underline-from-left::before,.hvr-underline-from-center::before{
    background:#fff;
}

@media (max-width: 630px){
    .survey-desktop{
        display:none;
    }
    
    .survey-choice-btn{ 
        display:block;
        text-align: center;
    }
    
    .survey h4{
        display:block;
        border-bottom: none;
        text-align:center;
        background:#1a1a1a;
        padding:5px 0;
    }
    
    .genres-label h2{
        padding-bottom: 10px;
        padding-top:10px;
    }
}