/* 
    Created on : Mar 13, 2017, 1:45:19 PM
    Author     : Thai-Vu Nguyen
*/

/*
    Details page css
*/

.mgmt_detail_label{
    font-weight: bold;
}

.mgmt_edit{
    background-color: #edf0f5;
    
}

/*
    Create page css
*/

/*
    List page css
*/

.mgmt_table .ui-datatable{
    
}





.mgmt_table .ui-datatable-content{
    
}

.mgmt_table .ui-datatable-odd{
    
}

.mgmt_table .ui-datatable-even{
    
}

.mgmt_table_row {
    background-color: #0a0a0a;
    color: #fbcdcf;
}

.mgmt_table_row:hover{
    background-color: #0fad0f;
}


.ui-state-highlight{
    background-color: #ec0a0a;
}



.ui-columntoggler{
    background-color: #F8F3EE;
}

.ui-datatable-resizable th.ui-resizable-column{
    background-color: #fbcdcf
}

.ui-widget-content .ui-datatable-even .ui-datatable-selectable .mgmt_table_row .ui-state-hover{
    background-color: white;
}

.ui-dialog {
    background-color: #F8F3EE;
}
/*
    Misc
*/

.ui-paginator-page {
    color: white;
    background-color: #2F40B2;
    font-size: 1.2em;
    margin: 5px;
}

.ui-paginator-page .ui-state-hover{
    background-color: red; 
}

.ui-paginator-current{
    font-weight: bold;
}

.mgmt_btn {
    color: white;
    background-color: #2F40B2;
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
}

.toggler_mgmt{
    background-color: #2F40B2;
}

.ui-columntoggler-item:hover{
    background-color: #2F40B2;
    color: white;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.newContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    
    background-color: #fff;
    color: #121212;
    margin-top: 2%;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.mgmt-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;   
    opacity: 0.9;
    padding: 25px;
    margin-top: 2%;
    
    background-color: #fff;
    color: #121212;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin-bottom: 30px;
    min-width: 400px;
}

.mgmt-inner-contnet{
    margin: 0 auto;
}
