/* 
    Created on : Mar 13, 2017, 1:45:19 PM
    Author     : Thai-Vu Nguyen
*/

/*
    Details page css
*/

.mgmt_detail_label{
    font-weight: bold;
}

.mgmt_edit{
    background-color: #edf0f5;

}

.custDialogBox {

}

.custDialogBox .ui-widget-header{
    background-color: #edf0f5;
}

.ui-dialog{
    background-color: #ffffff;
}

/*
    Create page css
*/

/*
    List page css
*/

.ui-widget-content{
    box-shadow: none;
    opacity: 1;
}

.ui-datatable{

}

.mgmt_table_row {

}

.mgmt_table_row:hover{
    color: #F8F3EE;
    background-color: #333333;
    border-color: #F8F3EE;
}


.ui-state-highlight{
    background-color: #ec0a0a;
}



.ui-columntoggler{
    background-color: #F8F3EE;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    padding: 4px 10px 35px 10px;
}

.newHeader{
    padding: 4px 10px 50px 10px;
}


.ui-datatable-resizable th.ui-resizable-column{
    background-color: #edf0f5
}

.ui-widget-content .ui-datatable-even .ui-datatable-selectable .mgmt_table_row .ui-state-hover{
    background-color: white;
}

/*
    Misc
*/

@media (max-width: 640px){
    .ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
        border-style: groove;
    }

    #toggler{
        visibility: collapse;
    }

    .new_toggler {
        visibility: hidden;
    }

    .ui-widget-header{
        background-color: #ecf9f9;
        border-style: double;
    }
}

.ui-paginator-first{

    background-image: url("#{resource['images/mgmt_icons/Button-First-icon.png']}");
    background-size: 100%;
}

.ui-paginator-prev {
    background-image: url("#{resource['images/mgmt_icons/Button-Rewind-icon.png']}");
    background-size: 100%;        
}

.ui-paginator-next{
    background-image: url("#{resource['images/mgmt_icons/Button-Fast-Forward-icon.png']}");
    background-size: 100%;
}

.ui-paginator-last{
    background-image: url("#{resource['images/mgmt_icons/Button-Last-icon.png']}");
    background-size: 100%;
}

.ui-paginator-page {
    color: white;
    background-color: #2F40B2;
    font-size: 1.2em;
    margin: 5px;
}

.ui-paginator-page .ui-state-hover{
    background-color: red; 
}

.ui-paginator-current{
    font-weight: bold;
}

.mgmt_btn {
    color: white;
    background-color: #2F40B2;
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
}

.toggler_mgmt{
    background-color: #2F40B2;
}

.ui-columntoggler-item:hover{
    background-color: #2F40B2;
    color: white;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.newContainer {
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #fff;
    color: #121212;
    margin-top: 2%;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin-bottom: 30px;
    font-size: 1.2em;
}



.mgmt-inner-contnet{
    margin: 0 auto;
}
