/* 
    Created on : 5-Feb-2017, 6:03:43 PM
    Author     : Danieil Skrinikov
*/

/*-----------*/
html, body {
    height: 100%;
}
body {    
    padding-top: 50px;
}
body.navbar-more-show  {
    overflow: hidden;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
    max-height: 300px;
    -webkit-transform: translate(0px, calc(-100% + 69px));
    transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
    display: block;
}
.navbar-more-show > .navbar {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: block;
    font-size: 1.8em;
}
.navbar-more {
    background-color: #272727;
    height: calc(100% - 69px);
    overflow: auto;
}
.navbar-more .navbar-form {
    border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: pink;  
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
        margin: 0px -15px;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
        font-size: 1em;
        display: inline;
    }
}

/* End menu */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    color:pink;
}

.footer{
    background: #272727;
    height: auto;
    width: 100%;

}

.footer > .container > p {
    padding-top: 14px;
    color: #a0a0a0;
}

.error{
    color:red;
}

.table-cart {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}


.content{
    margin-top:50px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
    max-height: 400px;
    overflow: hidden;
}

.ad-container{
    height:100px;

}

.ad-inner-c{
    padding:2px;
    background-color:#f0f0f0;
    height: 100%;
    width:100%;
}

.top-buffer { margin-top:20px; }

.rss-panel .panel-body{
    height:400px;
    overflow-y:scroll;
}

.rss-description img{
    max-width:150px;
    max-height:75px;
    float:left;
}

.rss-description{
    cursor: pointer;
    text-decoration: none;
    color:#545454
}

.rss-description p {
    padding-left:155px;
}

.rss-title{
    color: #545454;
    cursor:pointer;
    text-decoration:underline;
    display:block;
}

.genres-panel .panel-body{
    height:400px;
    overflow-y: scroll;
}

.album-container{
    background-color: #f0f0f0;
}

.album-header{
    background-color: #f0f0f0;
    margin-top:5px;
}

.album-header img{
    float:left;  
}

.album-header h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom:0;
    margin-top:5px;
    color:#777;
}

.album-header h1{
    margin-top:0;
    margin-bottom: 0;
}

.album-header h4{
    margin-top: 0px;
    color:#666;
    padding-bottom:35px;
}

.album-additional-information{
    background-color: #f0f0f0;
}

.album-additional-information p{
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    padding-left:15px;
    border-top:solid 1px #a0a0a0;
    border-bottom:solid 1px #a0a0a0;
}

.album-header .album-actions{
    position: absolute; 
    bottom: 0; 
    width: 100%;  
}

.album-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.album-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table{
    margin-bottom: 0;
}

.similar-albums img{
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.similar-albums h3{
    text-decoration: none;
    color:#272727;
    margin-top:0;
}

.similar-albums h5{
    text-decoration: none;
    color:#272727;
    transition: text-decoration 0.5s;
}

.similar-albums h5:hover{
    text-decoration:underline;
    color:#373737;
}
.similar-albums h6{
    color:#888;
}

.similar-albums a:hover{
    text-decoration: none;
}

.similar-albums-inner{
    overflow:hidden;
    background-color: #f0f0f0;
}

.similar-albums-header{
    border-bottom:1px solid #a0a0a0;
    color:#a0a0a0;
}

.small-margin-bottom{
    margin-bottom:5px;
}

.centerText{
    text-align: center; 
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;

}

.panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}

.help-jumbotron{
    background-color:#314190;
    color:#fff;
}