/* 
    Created on : 5-Feb-2017, 6:03:43 PM
    Author     : Danieil Skrinikov everyone?
*/

/*-----------*/

* {
    margin: 0;
    padding: 0;
} 

html, body {
    height: 100%;
}
body {    
    padding-top: 50px;
}
body.navbar-more-show  {
    overflow-x: hidden;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
    max-height: 300px;
    -webkit-transform: translate(0px, calc(-100% + 69px));
    transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
    display: block;
}
.navbar-more-show > .navbar {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
    display: block;
    font-size: 1.8em;
}

@media (max-width:768px){
    .navbar-nav.mobile-bar > li > form > a > span.menu-icon{
        display: block;
        font-size: 1.8em;
    }

    .navbar-nav.mobile-bar > li > form{
        margin-top:10px;
    }
}

.navbar-more {
    background-color: #272727;
    height: calc(100% - 69px);
    overflow: auto;
}
.navbar-more .navbar-form {
    border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: #e0a800;  
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar {
        height: auto;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    .navbar-nav.mobile-bar {
        display: block;
        max-height: 64px;
        margin: 0px -15px;
    }
    .navbar-nav.mobile-bar > li > a > span.menu-icon {
        font-size: 1em;
        display: inline;
    }
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > form > a {
    transition: color 0.3s;
    text-transform: capitalize;
}

/* End menu */
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > form >a:focus, .navbar-inverse .navbar-nav > li > form > a:hover{
    color:#e0a800;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-menu-form {
    text-decoration: none;
    color: #9D9D9D;
}

.nav-sign-out:hover, .nav-sign-out:focus{
    text-decoration: none;
    color: white;
}

.menu-form {
    margin-top: 15px;
    margin-right: 10px;
}

/* not the greatest solution, but at least it's not in the middle of a page*/
.footer{
    background: #272727;
    width: 100%;
    position: relative;
    clear: both;
}

#wrapper {
    min-height:100%;
    overflow: hidden;
}

.footer > .container > p {
    padding-top: 14px;
    color: #a0a0a0;
}

.error{
    color:red;
}

.content{
    padding-top:50px;
    padding-bottom:45px;
    overflow: auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
    max-height: 400px;
    overflow: hidden;
}

.ad-container{
    height:100px;

}

.ad-inner-c{
    padding:2px;
    background-color:#f0f0f0;
    height: 100%;
    width:100%;
}

.top-buffer { margin-top:20px; }

.genres-panel .panel-body{
    height:400px;
    overflow-y: scroll;
}

.album-container{
    background-color: #f0f0f0;
}

.album-header{
    background-color: #f0f0f0;
    margin-top:5px;
}

.album-header img{
    float:left;  
}

.album-header h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom:0;
    margin-top:5px;
    color:#777;
}

.album-header h1{
    margin-top:0;
    margin-bottom: 0;
}

.album-header h4{
    margin-top: 0px;
    color:#666;
    padding-bottom:35px;
}

.album-additional-information{
    background-color: #f0f0f0;
}

.album-additional-information p{
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    padding-left:15px;
    border-top:solid 1px #a0a0a0;
    border-bottom:solid 1px #a0a0a0;
}

.album-header .album-actions{
    position: absolute; 
    bottom: 0; 
    width: 100%;  
}

.album-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.album-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table{
    margin-bottom: 0;
}

.similar-albums{
    font-family: 'Raleway', sans-serif;
}

.similar-albums img{
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.similar-albums h3{
    text-decoration: none;
    color:#272727;
    margin-top:0;
}

.similar-albums h5{
    text-decoration: none;
    color:#272727;
    transition: text-decoration 0.5s;
}

.similar-albums h5:hover{
    text-decoration:underline;
    color:#373737;
}
.similar-albums h6{
    color:#888;
}

.similar-albums a:hover{
    text-decoration: none;
}

.similar-albums-inner{
    overflow:hidden;
    background-color: #f0f0f0;
}

.similar-albums-header{
    border-bottom:1px solid #a0a0a0;
    color:#a0a0a0;
}

.small-margin-bottom{
    margin-bottom:5px;
}

.centerText{
    text-align: center; 
}

.faqHeader {
    font-size: 2em;
    margin: 20px;
    color: white;
    font-family: Raleway;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;

}

.panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}

.help-jumbotron{
    background:#2F40B2;
    color:#fff;
}

.a-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;   
    opacity: 0.92;
    padding: 25px;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: black;
    color: white;
    font-family: Raleway;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin-bottom: 30px;
}

.a-header {
    font-weight: bold;
}

.text-center {
    text-align: center;
    display: block;
}

.orange-link {
    color: #FF7F50;
    font-family: Cinzel Decorative;
    font-size: 1em;
}

.orange-link:hover, .orange-link:focus {
    color: #ff571a;
}

.btn-login {
    color: white;
    background-color: #262626;
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
    border-radius: 0px;
    padding: 8px 40px;
    border: 1px solid #262626;
}

.btn-login.focus, .btn-login:focus, .btn-login:hover {
    color: white;
    background-color:#0a0a0a;
    border: 1px solid #262626;
}

.btn-clear {
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
    margin-left: 20px;
    background-color: black;
    color: #F8F3EE;
    border-radius: 0px;
    padding: 8px 20px;
}

.btn-clear.focus, .btn-clear:focus, .btn-clear:hover {
    background-color: #F8F3EE;
    color: black;
}


.btn-search {
    color: black;
    background-color: #e0a800;
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
    border-radius: 0px;
    padding: 8px 40px;
    border: 1px solid #e0a800;
}

.btn-search.focus, .btn-search:focus, .btn-search:hover {
    color: white;
    background-color:black;
}

.well-outer {
    color: white;
    background-color: black;
    border: none;
    border-bottom: 1px solid #333;
}

.well-outer.focus, .well-outer:focus, .well-outer:hover {
    border-bottom: 1px solid white;
}

.well-search {
    background-color: black;
    border: none;
}

.table-cart {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    margin-bottom: 20px;
}

.btn-continue {
    color: #F8F3EE;
    background-color: black;
    margin: 15px;
    border-radius: 0px;
    padding: 7px 20px;
    border: 1px solid #F8F3EE;
}

.btn-continue.focus, .btn-continue:focus, .btn-continue:hover {
    color: black;
    background-color: #F8F3EE;
}

.btn-shop {
    color: #fff;
    background-color: #2F40B2;
    font-size: 1.2em;
    margin: 5px;
    margin-bottom:15px;
    border-radius: 0px;
    padding: 8px 40px;
    border: 1px solid #2F40B2;
}

.btn-shop.focus, .btn-shop:focus, .btn-shop:hover {
    color: white;
    background-color: black;
}

.check-brands {
    padding-bottom: 20px;
    padding-top: 10px;
}

.btn-credit {
    margin-left: 15px;
    background-color: #F8F3EE;
    color: black;
    border-radius: 0px;
}

.btn-credit.focus, .btn-credit:focus, .btn-credit:hover {
    background-color: black;
    color: #F8F3EE;
}


.invoice-content {
    font-family: 'Arial, Helvetica, sans-serif';
}

.invoice-container {
    border-bottom: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.space {
    padding-bottom: 20px;
}

.blue {
    color: #4a5bcf;
}


.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.index-row{
    padding-left:1em;
    padding-right: 1em;
}

.header{
    background-image: url("#{resource['images/ambiance/bgt4.jpg']}");
    background-size:cover;
    min-height: 350px;
    vertical-align: middle;
}

.header::after{
    margin-bottom:20px;
}

.header-inner{
    display: table-cell;
    vertical-align: middle;
}

.header-inner-title{
    display: inline-block;
    border:solid 3px #fff;
    margin-top:25%;
    padding:2px;
    transition:background-color 0.5s;
}

.header-inner-title:hover{
    background-color:rgba(255,255,255,0.1);
}

.header-inner-title h1{
    color:#fff;
    font-size:4em;
    font-family: 'Arial, Helvetica, sans-serif';
    margin-bottom: 0;
}

.header-inner-title h2{
    color:#fff;
    font-size:2em;
    margin-top:0;
}

.background{
    background-color: /*#f7f7f7*/#0a0a0a;
    background-repeat: repeat;
    background-size: inherit;
    background-attachment: fixed;
    background-position: left top;
    /*background-image: url("#{resource['images/ambiance/121.png']}");*/
}

.new-track-outer{
    border:solid 5px #0D1217;
    padding:5px;
}

.new-track-inner{
    background:#0D1217;
}

.new-track-inner a:hover{
    text-decoration: none;
    border-bottom: none;
}

.new-track-inner h3{
    color:#fff;
    margin:0;
    padding-bottom: 5px;
    text-transform: uppercase;
    cursor:pointer;
    transition: color .5s;
}

.new-track-inner h3:hover{
    color:#FF7F50;
    text-decoration: none;
}

.new-track-inner h4{
    color:#eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
}

.new-track-inner h4 .orange{
    color:#FF7F50;
    font-size: 2em;
}

.new-track-inner h5{
    color:#AAA;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2px;
}
.new-track-inner h6{
    color:#FF7F50;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 10px;
    margin:0;
}

.genres-tab{
    background-color: #0D1217;
    height:100px;
    padding-right: 1em;
    padding-left: 1em;
}

.genre-list{
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
}

.genre-list li{
    color:#fff;
    padding: 0 25px;
    border-right: 2px solid #333;
    text-transform: uppercase;
    transition:color 0.5s;
    font-size:30px;
    font-family: 'Signika', sans-serif;
}

.genre-list li:last-child{
    border:none;
}

.genre-list li:hover{
    color:#FF7F50;
}

.survey-row{
    border: solid 4px #FF7F50;
    padding:3px;
    margin-left:1.2em;
    margin-right:1.2em;
}

.survey-padding{
    width:100%;
    height:100%;
    border: solid 2px #FF7F50;
    padding:2px;
}

.survey-body{
    background-color: #FF7F50;
    padding-bottom: 5px;
}

.survey-body::after{
    padding-bottom:0;
}

.question-header{
    padding:8px;
    color:#fff;
    font-family: 'Signika', sans-serif;
    text-decoration: underline;
}

.button-container{
    border:solid 2px #2F3439;
    padding:2px;
    margin:5px;
    color:#fff;
}

.button-container:last-child{
    margin-bottom: 0px;
}

.custom-buttons{
    font-weight: normal;
    background:none;
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: #2F3439;
    border:none;
    font-size:1.2em;
    transition:background-color 0.5s;
    padding:5px;
    color:#fff;
    border-radius:0;
}

.custom-buttons:hover{
    background-color: #1E2328;
}

.custom-buttons:last-child{
    margin-bottom: 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none; 
    background: none;
    font-weight: normal; 
    color: inherit;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-state-default {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-button{
    padding:5px;
}

.genres-tab-xs{
    background-color: #0D1217;
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
    display:none;
}

.genres-tab-xs ul li{
    list-style-type: none;
    border-right:none;   
}



@media (max-width: 600px) {
    .genres-tab {
        display: none; 
    }

    .genres-tab-xs{
        display:block;
    }
}

.rss-panel{
    border:solid 4px #336666;
}

.content-row{
    padding-left: 1em;
    padding-right: 1em;

}

.content-panel{
    background-color:#fff;
}

.content-header{
    color:#fff;
    background-color:#0D1217;
    transform: translateX(-34px);
    margin:0;
    padding:3px;
    margin-top: 10px;
}

.orange-back{
    background-color:#FF7F50;
    transform: translateX(  34px);
}

.album-jumbotron{
    background-image: url("#{resource['images/ambiance/album_bg.jpg']}");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    margin-bottom: 0;
}

.album-presentation-outer{
    margin-top:15%;
    padding: 4px;
    padding-bottom: 100px;
}

.album-presentation-inner{
    color:#fff;
}

.album-presentation-inner h1{
    margin:0;
    padding-left:20px;
    text-transform: uppercase;
    font-size: 3em;

}

.album-presentation-inner h1 .orange{
    color:#FF7F50;
}

.album-presentation-inner hr{
    color:#fff;
    margin-left:20px;
    margin-right:20px;
}

.album-presentation-inner h3{
    margin:0;
    padding-left:20px;
    padding-top:9px;
    font-size: 1.5em;

}

.album-info{
    margin:0;
}

.custom-price-buttons{
    text-decoration: none;
    margin:0;
    padding:7px;
    font-size: 1.5em;
    color:#fff;
    border-radius: 3px;
    background-color: #FF7F50;
}

.custom-price-buttons::before{
    background-color:#ff571a;
}

.custom-price-buttons:hover{
    text-decoration: none;
}

@media (max-width: 768px) {
    .album-presentation-inner .col-xs-12, .album-presentation-inner .col-xs-12 {
        text-align: center;
    } 

    .album-presentation-inner h3{
        padding-left:0;
        margin-bottom: 5px;
    }

    .album-presentation-inner h1{
        text-align: center;
        font-size: 2em;

    }
}

.album-content{
    background-color:#0a0a0a;
    padding-top: 40px;
    color:#fff;
}

.info h4{
    padding-top:10px;
    padding-bottom:5px;
}

.info p{
    color:#a0a0a0;
}

.sub-info{
    color: #FF7F50;
    text-transform: uppercase;
}

.info ul{
    list-style: none;
    text-decoration: none;
    border: none;
    outline: 0;
}

.info ul li{
    display: inline-block;
    border-right: 1px solid #121212;
    padding-right: 20px;
}

.info ul li:last-child{
    border-right:none;
    padding-left: 20px;
}
.info ul li span{
    display:block;
}

.darker-color{
    color:#a0a0a0;
}

.album-track-list tr{
    background-color: #262626;
}

.album-track-list .table > tbody > tr > td{
    border-top:solid 1px #262626;
}

.album-track-list .table > tbody > tr {
    border-bottom: solid 3px #0a0a0a;
}

.tracks-table{
    border-top:2px solid #FF7F50;
}

.album-list-track{
    text-decoration: none;
    color:#fff;
    transition: color 0.5s;
}

.album-list-track:hover, .album-list-track:active {
    text-decoration: none;
    color:#FF7F50;
}

.album-list-track-btn{
    font-size: 1em;
}

.toggle-reviews{
    cursor: pointer;
}

.toggle-reviews-active{
    animation-name: flash;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes flash{
    0%{color:#FF7F50;}
    50%{color:#50d0ff;}
    100%{color:#FF7F50;}
}

.review{
    padding-left:1em;
    padding-right:1em;
    border-bottom:1px solid #333;
    margin-bottom: 10px;
}

.review:last-child{
    border-bottom: none;
}

.stars{
    color:#FF7F50;
}

.rating{

}

.leave-review{
    padding:1em;
}

.rating-stars-container{
    display: inline-block;
    font-size: 1.5em;
    transition:color 0.5s;
    cursor: pointer;
}

.rating-stars-container-selected{
    color:#FF7F50;
    font-weight: bold;
}

.review-text-area{
    width:100%;
    max-width:100%;
    resize:vertical;
    color:black;
    background: white;
}

#review-track-form .ui-state-default {
    color:black;

}

@media screen and (max-width: 767px){
    .table-responsive{
        border-right:none;
        border-left: none;
        border-bottom: none;
    }
}

.ui-datatable table, .ui-datatable table > tbody > tr, .ui-datatable table > tbody,.ui-panelgrid .ui-panelgrid-cell, .ui-datatable tbody td{
    border:none;
}

.white {
    color: white;
}

.nav-genre li a{
    text-transform: uppercase;
    font-size: 1.1em;
    color: white;
    border-radius: 0px;
}

.nav-genre li a.focus, .nav-genre li a:focus, .nav-genre li a:hover {
    background-color: #222;
}

.browse-header {
    color: #e0a800;
    padding-bottom: 10px;
}

.browse-genre {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.browse-container {
    margin-top: 2%;
}

@media (max-width:768px){
    .browse-mobile{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.link-glow.focus, .link-glow:focus, .link-glow:hover {
    border: 1px solid #A07906;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(209, 249, 255, 0.6);
}

.review-hover.focus, .review-hover:focus, .review-hover:hover {
    color: white;
}

.padding-10 {
    padding-top: 10px;
}
.album-track-link{
    color:#fff;
    transition: color 0.25s;
}

.album-track-link:hover{
    color:#FF7F50;
    text-decoration: none;
}

.review-feedback {
    text-transform: uppercase; 
    color:#00c49e;
    padding:30px;
    border-top: #333 solid 2px;
    border-bottom: #333 solid 2px;
}

.review-feedback-album {
    text-transform: uppercase; 
    color: #FF7F50;
    padding:20px;
}

.search-calendar {
    background-color: white;
}

.ui-datepicker {
    font-family: Arial;
    background-color: #0A0A0A;
    margin-right: 10px;
}

.ui-datepicker-current-day a, ui-corner-all span {
    font-weight: bold;
    color: #0061FC;
}

.ui-state-default {
    color: #6BA8DF;
}

.ui-datepicker-next.focus, .ui-datepicker-next:focus, .ui-datepicker-next:hover,
.ui-datepicker-prev.focus, .ui-datepicker-prev:focus, .ui-datepicker-prev:hover{
    background: black;
}

.faq-container .panel-default, .faq-container .panel-default > .panel-heading {
    color: white;
    background: black;
    border-color: black;
    border-radius: 0px;
    opacity: 0.7;
    font-size: 1.15em;
}

.faq-container .panel-title {
    font-size: 1.15em;
}

.faq-container .panel-body {
    padding-left: 25px;
}
.btn-custom{
    background: #e0a800;
    transition: background 0.3s;
}

.btn-custom:hover{
    background: #d6a102;
    color:#fff;
}

.tracked-link{
    color:#CCC;
    font-family: 'Lato', sans-serif;
    padding-bottom:5px;
}

.tracked-link:hover{
    color:#CCC;
    text-decoration: none;
}

